@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Common styles for all pages */

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-color: #333;
    --background-color: #f4f4f4;
    --font-main: 'Quicksand', sans-serif;
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--font-main);
}

body {
    font-family: var(--font-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background: #2c3e50;
    color: white;
    padding: 30px 0;
    margin-top: auto;
}
